<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>LUCAS CARDOSO</title>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.2.6/gsap.min.js"></script>
        <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap" rel="stylesheet">
        
       <!--favicon-img--> 
       <link rel="icon" type="image/png" href="images/favicon.jpg">
       <!--favicon-img-->
    
        <link rel="stylesheet" href="css/index.css">
       
    
    </head>
<body>
    <main id="songs-one">


        
        <div class="cursor scale"></div>
        <div class="cursor-two scale"></div>


        <div id="preloader">
            <div class="p">
                <img src="images/headphone.png" alt="headphone">
            </div>
            <div class="p">Use fone de ouvido para melhor experiência.</div>
        </div>

<!-- CONTENT -->
        <div id="songs-one-content">



   <!-- NAVIGATION -->
   <div class="navigation">
    <div class="logo hover ">
       <a href="index-one.html" class="text">LUCAS CARDOSO</a>
    </div>
    <div class="menu-bar hover ">
        <div class="menu-bar-name text">
            Menu
        </div>
        <div class="menu-bar-lines text">
            <div class="menu-bar-line"></div>
            <div class="menu-bar-line"></div>
        </div>
    </div>
</div>
<!-- NAVIGATION -->






<!-- HEADING -->
<div class="heading">
    <div class="text">
      Musicas
    </div>
</div>

<!-- HEADING -->




<!-- SONGS CONTAINER -->


<div class="center">
<div id="songs-container">



    <!-- SONG -->
<div class="song fade-up">

    <div class="song-img">
        <img src="images/post malone 2.jfif" alt="song">
    </div>

    <div class="song-details">
        <div class="song-details-content">
        <div class="song-name">Congratulations</div>
        <div class="artist-name">Post Malone</div>
        </div>
        <div class="music-player">
         
            <div class="play-song mouse">
                <img src="images/play.png" alt="play" data-song="blindinglights">
                <!--   DATA-SONG AND DATA-AUDIO VALUE SHOULD MATCH   -->
                <audio data-audio="blindinglights">
                    <source src="music/Congratulations.ogg" type="audio/ogg">
                    <source src="music/Congratulations.mp4" type="audio/mp4">
                    </audio> 
            </div>
            <div class="download-song mouse">
                <a href="music/-Congratulations.mp4"  download="Congratulations">974K<img src="images/download.png" alt="download"></a>
            </div>
        </div>
    </div>
</div>
    <!-- SONG -->




        <!-- SONG -->

    <!-- SONG -->


        <!-- SONG -->
<div class="song fade-up">


    <div class="song-img">
        <img src="images/pink-floyd-the-wall.webp" alt="song">
    </div>

    <div class="song-details">
        <div class="song-details-content">
        <div class="song-name">Comfortably Numb</div>
        <div class="artist-name">Pink Floyd</div>
        </div>
        <div class="music-player">
         
            <div class="play-song mouse">
                <img src="images/play.png" alt="play" data-song="alone" >
               
                <!--   DATA-SONG AND DATA-AUDIO VALUE SHOULD MATCH   -->
                <audio data-audio="alone">
                    <source src="music/Comfortably Numb.ogg" type="audio/ogg">
                    <source src="music/Comfortably Numb.mp3" type="audio/mp3">
                    </audio> 
            </div>




            <div class="download-song">
                <a href="music/Comfortably Numb.mp3"  download="Heathens_Stranger">900K<img src="images/download.png" alt="download"></a>
            </div>
        </div>
    </div>
    
</div>
    <!-- SONG -->




        <!-- SONG -->
<div class="song fade-up">


    <div class="song-img">
        <img src="images/simple man post.jpg" alt="song"  data-song="blindinglights" class="play">
    </div>

    <div class="song-details">
        <div class="song-details-content">
        <div class="song-name">Simple Man</div>
        <div class="artist-name">Lynyrd Skynyrd</div>
        </div>
        <div class="music-player">
         
            <div class="play-song mouse">
                <img src="images/play.png" alt="play" data-song="whatspoppin" >
               
                <!--   DATA-SONG AND DATA-AUDIO VALUE SHOULD MATCH   -->
                <audio data-audio="whatspoppin">
                    <source src="music/Simple Man.ogg" type="audio/ogg">
                    <source src="music/Simple Man 2.mp3" type="audio/mp3">
                    </audio> 
            </div>




            <div class="download-song">
                <a href="music/Simple Man 2.mp3"  download="simple man">700K<img src="images/download.png" alt="download"></a>
            </div>
        </div>
    </div>
    
</div>
    <!-- SONG -->




        <!-- SONG -->
<div class="song fade-up">


    <div class="song-img">
        <img src="images/Eminem.jpg" alt="song">
    </div>

    <div class="song-details">
        <div class="song-details-content">
        <div class="song-name">Mockingbird</div>
        <div class="artist-name">Eminem</div>
        </div>
        <div class="music-player">
         
            <div class="play-song mouse">
                <img src="images/play.png" alt="play" data-song="thebox" >
               
                <audio data-audio="thebox">
                    <source src="music/Mockingbird.ogg" type="audio/ogg">
                    <source src="music/Mockingbird.mp4" type="audio/mp4">
                    </audio> 
            </div>
            <div class="download-song">
                <a href="music/Mockingbird.mp4"  download="Eminem">534K<img src="images/download.png" alt="download"></a>
            </div>




        </div>
    </div>
    
</div>
    <!-- SONG -->




        <!-- SONG -->
<div class="song fade-up">


    <div class="song-img">
        <img src="images/twenty post.jpg" alt="song">
    </div>

    <div class="song-details">
        <div class="song-details-content">
        <div class="song-name">Heathens-Stranger</div>
        <div class="artist-name">Twenty One Pilots</div>
        </div>
        <div class="music-player">
         
            <div class="play-song mouse">
                <img src="images/play.png" alt="play" data-song="shatter" >
                <!--   DATA-SONG AND DATA-AUDIO VALUE SHOULD MATCH   -->
                <audio data-audio="shatter">
                    <source src="music/Twenty One Pilots - Heathens_Stranger Things.ogg" type="audio/ogg">
                    <source src="music/Twenty One Pilots - Heathens__Stranger Things.mp3" type="audio/mp3">
                    </audio> 
            </div>



            <div class="download-song">
                <a href="music/Twenty One Pilots - Heathens__Stranger Things.mp3"  download="Heathens-Stranger">634K<img src="images/download.png" alt="download"></a>
            </div>
        </div>
    </div>
    
</div>
    <!-- SONG -->




        <!-- SONG -->
<div class="song fade-up">


    <div class="song-img">
        <img src="images/matue.webp" alt="song">
    </div>

    <div class="song-details">
        <div class="song-details-content">
        <div class="song-name">Conexões de Máfia</div>
        <div class="artist-name">Matuê</div>
        </div>
        <div class="music-player">
         
            <div class="play-song mouse">
                <img src="images/play.png" alt="play" data-song="coolblue" >
                <!--   DATA-SONG AND DATA-AUDIO VALUE SHOULD MATCH   -->
                <audio data-audio="coolblue">
                    <source src="music/Conexões de Máfia.ogg" type="audio/ogg">
                    <source src="music/Conexões de Máfia 2.mp4" type="audio/mp4">
                    </audio> 
            </div>


            <div class="download-song">
                <a href="music/Conexões de Máfia 2.mp4"  download="Matuê Conexões de marfia">432k<img src="images/download.png" alt="download"></a>
            </div>
        </div>
    </div>
    
</div>
    <!-- SONG -->




        <!-- SONG -->
<div class="song fade-up">


    <div class="song-img">
        <img src="images/cartao black.jpg" alt="song">
    </div>

    <div class="song-details">
        <div class="song-details-content">
        <div class="song-name">Cartão black</div>
        <div class="artist-name"> MC Caverinha · Kayblack</div>
        </div>
        <div class="music-player">
         
            <div class="play-song mouse">
                <img src="images/play.png" alt="play" data-song="darkfire" >
                <!--   DATA-SONG AND DATA-AUDIO VALUE SHOULD MATCH   -->
                <audio data-audio="darkfire">
                    <source src="music/Cartão Black.ogg" type="audio/ogg">
                    <source src="music/Cartão Black.mp4" type="audio/mp3">
                    </audio> 
            </div>


            <div class="download-song">
                <a href="music/Cartão Black.mp4"  download="cartão black">180K<img src="images/download.png" alt="download"></a>
            </div>
        </div>
    </div>
    
</div>
    <!-- SONG -->




        <!-- SONG -->
<div class="song fade-up">
    <div class="song-img">
        <img src="images/insonia post.jpg" alt="song">
    </div>
    <div class="song-details">
        <div class="song-details-content">
            <div class="song-name">Insônia</div>
            <div class="artist-name">Tribo da Periferia - Hungria
                </div>
        </div>
        <div class="music-player">
         
            <div class="play-song mouse">
                <img src="images/play.png" alt="play" data-song="theotherside" >
                <!--   DATA-SONG AND DATA-AUDIO VALUE SHOULD MATCH   -->
                <audio data-audio="theotherside">
                    <source src="music/Insônia.ogg" type="audio/ogg">
                    <source src="music/Insônia.mp4" type="audio/mp4">
                    </audio> 
            </div>
            <div class="download-song">
                <a href="music/Insônia.mp4  download="Insônia>672K<img src="images/download.png" alt="download"></a>
            </div>
        </div>
    </div>
    
</div>

<div class="song fade-up">
    <div class="song-img">
        <img src="images/Ian cali.jfif" alt="song">
    </div>
    <div class="song-details">
        <div class="song-details-content">
            <div class="song-name">California Dreamin</div>
            <div class="artist-name">Ian Storm, California Dreamin
                </div>
        </div>
        <div class="music-player">
         
            <div class="play-song mouse">
                <img src="images/play.png" alt="play" data-song="Ian Storm, California Dreamin" >
                <!--   DATA-SONG AND DATA-AUDIO VALUE SHOULD MATCH   -->
                <audio data-audio="Ian Storm, California Dreamin">
                    <source src="music/Ian Storm, California Dreamin'.ogg" type="audio/ogg">
                    <source src="music/Ian Storm, California Dreamin'.mp3" type="audio/mp3">
                    </audio> 
            </div>
            <div class="download-song">
                <a href="music/Ian Storm, California Dreamin="Ian Storm, California Dreamin>332K<img src="images/download.png" alt="download"></a>
            </div>
        </div>
    </div>
    
</div>

<div class="song fade-up">
    <div class="song-img">
        <img src="images/lost.jfif" alt="song">
    </div>
    <div class="song-details">
        <div class="song-details-content">
            <div class="song-name">Where Are You Now</div>
            <div class="artist-name">Lost Frequencies & Calum Scott - Where Are You Now
                </div>
        </div>
        <div class="music-player">
         
            <div class="play-song mouse">
                <img src="images/play.png" alt="play" data-song="music/Lost Frequencies & Calum Scott - Where Are You Now" >
                <!--   DATA-SONG AND DATA-AUDIO VALUE SHOULD MATCH   -->
                <audio data-audio="music/Lost Frequencies & Calum Scott - Where Are You Now">
                    <source src="music/Lost Frequencies & Calum Scott - Where Are You Now.ogg" type="audio/ogg">
                    <source src="music/Lost Frequencies & Calum Scott - Where Are You Now.mp3" type="audio/mp3">
                    </audio> 
            </div>
            <div class="download-song">
                <a href="music/music/Lost Frequencies & Calum Scott - Where Are You Now="Ian Storm, California Dreamin>382K<img src="images/download.png" alt="download"></a>
            </div>
        </div>
    </div>
    
</div>
    <!-- SONG -->






</div>
</div>

<!-- SONGS CONTAINER -->



 <!-- HEADPHONE IMG -->
 <div class="headphone img text">
    <img src="images/headphone.png" title="headphone zone" class="text" alt="headphone">
  </div>
   <!-- HEADPHONE IMG -->
  
               
   
 <!-- MUSIC INDICATOR -->
 <div class="music-indicator">
    <span style="--i:1;" class="music-indicator-span"></span>
    <span style="--i:2;" class="music-indicator-span "></span>
    <span style="--i:3;" class="music-indicator-span "></span>
    <span style="--i:4;" class="music-indicator-span "></span>
  </div>
   <!-- MUSIC INDICATOR -->
  
               


<!-- progress-bar -->
<div class="progress-bar-container fade-in">
    <div class="progressbar"></div>
</div>
<!-- progress-bar -->






        </div>
<!-- CONTENT -->


      
    <!-- NAVIGATION CONTENT -->

    <div class="navigation-content">
        <div class="navigation-logo hover opacity">
            <a href="#" class="text">LUCAS CARDOSO</a>
         </div>
        <ul class="navigation-ul">
            <li><a href="index-one.html" data-text="Home" data-img="images/bg-image-three.jpg">Inicio</a></li>
            <li><a href="songs-one.html" data-text="Songs"  data-img="images/album-thumbnail-nine.jpg">Musicas</a></li>
        </ul>
        <div class="navigation-close hover about-close opacity">
            <div class="navigation-close-line"></div>
            <div class="navigation-close-line"></div>
          </div>
    
            <div class="project-preview"></div>
    
            
     <!-- HEADPHONE IMG -->
     <div class="headphone-navigation opacity">
        <img src="images/headphone.png" title="headphone zone" class="text" alt="headphone">
      </div>
       <!-- HEADPHONE IMG -->
    
    
        <!-- SOCIAL MEDIA LINKS -->
        <div class="social-media-links-navigation">
            <ul>
                <li ><a href="https://www.instagram.com/lucas_cardoso27/?next=%2F"  class="text hover opacity">IG</a></li>
            </ul>
        </div>
          <!-- SOCIAL MEDIA LINKS -->
    
    </div>
    
    <!-- NAVIGATION CONTENT -->
      






    </main>


    <script src="js/jquery.min.js"></script>
    <script src="js/bez.js"></script>
    <script src="js/pace.js"></script>
    <script src="js/index.js"></script>
</body>
</html>